file.txt

partials/_reset.css
partials/_reset.min.css
partials/_tags.css
partials/_tags.min.css

components/_main.css
components/_main.min.css
components/_nav.css
components/_nav.min.css


classes/_parallax.css
classes/_parallax.min.css

_media.css
_media.min.css

tsconfig.json



