file.txt

style/partials/_reset.css
style/partials/_reset.min.css
style/partials/_tags.css
style/partials/_tags.min.css

style/components/_main.css
style/components/_main.min.css

style/_tags.css
style/_tags.min.css
style/components/_nav.css
style/components/_nav.min.css


style/classes/_parallax.css
style/classes/_parallax.min.css

style/_media.css
style/_media.min.css

tsconfig.json

style/index.min.css
calendar.min.css
calendar/calendar-style/form.css
calendar/calendar-style/form.min.css
calendar/calendar-style/calendar-media.css
calendar/calendar-style/calendar-media.min.css