@import "style/mixins/grid";
@import "style/mixins/flex";

//($columns, $row-gap, $column-gap, $justify-items)

#root {
 @include grid(repeat(7, 1fr),1rem, 1rem, start);
 min-width:1rem;
 grid-template-rows: repeat(6, 1fr);
}

#year-month {color:darkblue;
font-size: 2rem;}