@import "mixins/grid";
@import "mixins/flex";
@import "partials/variables";

@media screen and (min-width: 37em) {
  .nav {
    h1 {
      font-size: 8rem;
    }
  }

  .main {
    .gallery {
      .gallery--photos {
        @include grid(1fr 1fr, 1rem, 1rem, stretch);
      }
    }
  }
  .footer {
    column-gap: 4rem;
  }
}
@media screen and (min-width: 45em) {
  .main {
    .about {
      p {
        margin: 0
      }
    }
    .max--width {
      max-width: 67rem;
      margin: 1rem 2rem;
    }
    .location {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }
    
  }
}
@media screen and (min-width: 57em) {
  .nav {
    .hamburger {
      display: none;
    }
    .nav--menu {
      @include flex(row, space-evenly, center, 0);
      grid-column: 1;
      grid-row: 1;
      padding: 2rem 0;
      background-color: transparent;
      top: 0;
    }
  }
  .main {
    .max--width {
      max-width: 80rem;
    }
    .testimonials {
      .testimonials--list {
        @include grid(1fr 1fr, 3rem, 3rem, stretch);
        .testimonial--one {
          grid-row: 1/3;
        }
        .testimonial--two {
          grid-column: 2;
          grid-row: 2/4;
        }
        .testimonial--three {
          grid-row: 3/5;
        }
      }
    }
  }
  .footer {
    @include grid(repeat(4, 1fr), 3rem, 3rem, stretch);
    max-width: 90%;
  }
}
@media screen and (min-width: 78em) {
  .main {
    .max--width {
      max-width: 148rem;
    }
    .equipment {
      @include grid(1fr 1fr, 0, 0, stretch);
      .header--wrapper {
        grid-column: 1/-1;
        margin-bottom: $margin--bottom--5rem;
      }
      div {
        margin-bottom: 0;
      }
      .equipment--item2 {
        grid-row: 3;
        grid-column: 1;
      }
      .equipment--item2--img {
        grid-row: 3;
        grid-column: 2;
      }
    }

    .locations {
      @include grid(repeat(3, 1fr), 4rem, 2.2rem, stretch);

      // grid-template-columns: 1fr 1fr 1fr;
      .header--wrapper {
        grid-column: 1/-1;
      }
    }
    .testimonials {
      .testimonials--list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        row-gap: 0;
        .testimonial--one {
          grid-column: 1;
          grid-row: 1/6;
        }
        .testimonial--two {
          grid-column: 2;
          grid-row: 2/7;
        }
        .testimonial--three {
          grid-column: 3;
          grid-row: 3/8;
        }
      }
    }
  }
}
