@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "partials/reset";
@import "partials/variables";
@import "mixins/grid";
@import "mixins/flex";

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: $main--text--color;
}

h1 {
  font-size: 6rem;
  color: $nav-txt-color;
  letter-spacing: 2px;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}
p {
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 2rem;
}
a:link,
a:visited {
  text-decoration: none;
  color: $main--text--color;
  border-bottom: solid 1px transparent;
  display: inline-block;
  padding-bottom: 0;
}
a:hover,
a:active {
  border-bottom: solid 1px $main--text--color;
}
.header--wrapper {
  @include flex(row, center, center, 0);
  position: relative;
  width: 100%;
  text-align: center;
}
.button--wrapper {
  @include flex(row, center, center, 0);
  border-radius: 100px;
  border: solid 1px #f7f7f7;
  overflow: hidden;
}
button {
  color: $nav-txt-color;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  background-color: $nav-txt-color;
  color: $nav-btn-txt;
  border-radius: 100px;
  transition: 0.2s;
  padding: 1rem 3rem;
  margin: 0;
  cursor: pointer;
  border: none;
}

ul {
  line-height: 2rem;
  margin: 1rem 2rem;
  list-style: none;
  li {
    @include flex(row, flex-start, center, 0.6rem);
    text-align: left;
    p {
      margin: 0;
    }
  }
}

svg {
  width: 24px;
  height: 24px;
}

.bg--svg {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ccf3ff;
  z-index: -1;
}
