@import "../style/partials/fonts";
@import "../style/tags";
@import "../style/mixins/grid";
@import "../style/mixins/flex";
@import "../style/partials/reset";
@import "form";
@import "../style/classes/parallax";
@import "../style/partials/reset";

// grid($columns, $row-gap, $column-gap, $justify-items)
// flex($direction, $justify, $align, $gap) 

body {
  @include flex(row, center, center, 0);
overflow: hidden;
}

.background--img{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: -1;
  filter: brightness(60%)
}

.wrapper {
  @include flex(column,  flex-start, center, 0);
  margin-top: 5rem;
  max-width: 96rem;
  font-size: 1.6rem;
}

#calendar--root {
 @include grid(repeat(7, 1fr),0.4rem, 0.4rem, stretch);
}

#year-month {
color:purple;
font-size: 3rem;
margin-bottom: 2rem;
border-radius: 1rem;
}

.calendar--handler {
  width: 100%;
}

.calendar--day {
  background-color:  rgba(234, 234, 234, 0.7);
  font-size: 2rem;
  padding: 1.5rem;
  height: 8rem;
  border-radius: 1rem;
}

.calendar--free--term {
  position: relative;
  background-color: $bg--svg--color;
  opacity: 0.9;

}

.calendar--reserved{
  background-color: rgb(255, 211, 202);
  border: none;
}

.empty--field {
  background-color: rgba(234, 234, 234, 0.4);
  border-radius: 1rem;
}

button {
  padding: 1rem;
  margin: 1rem;
}

#form--root {
  @include flex(column,  center, center, 0);
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top:0;
  left:0;
  display: none;
  background-color: rgba(0,0,0, 0.2);
  backdrop-filter: blur(3px);
  transition: 0.3s;
}
.visible{
  display: flex !important;
}

#close--form--btn {
  background-color: red;
}