@import "../style/mixins/flex";



// grid($columns, $row-gap, $column-gap, $justify-items)
// flex($direction, $justify, $align, $gap) 

form {
  @include flex(column, center, center, 1rem);
  position: absolute;
  // transform: translate(50%, 50%);
  // top: -50%;
  // left:-50%;
  z-index: 2;
  background-color: rgb(172, 255, 47);
  border-radius: 1rem;
padding: 3rem;}