@import '../mixins/flex';
@import '../mixins/grid';
@import '../partials/variables';
@import '../classes/parallax';


.nav {
  @extend .parallax;
  img {
    @extend .parallax--img;
  }
  &--menu {
    @include flex(column, stretch, stretch, 1rem);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    top: -100%;
    transition: 0.3s;
    z-index: 3;
    padding: 4rem 0;
  }
  svg {
    width: 32px;
    height: 32px;
    stroke: $nav-txt-color;
    margin: 1rem;
  }
  svg:hover {
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    z-index: 4;
    .close--nav {
      display: none;
      position: absolute;
    }
  }
  h1 {
    grid-row: 2;
    display: inline-block;
    padding: 0 2rem;
    align-self: start;
    justify-self: center;
  }
}