@import "../../style/mixins/flex";
@import "../../style/mixins/grid";

// grid($columns, $row-gap, $column-gap, $justify-items)
// flex($direction, $justify, $align, $gap)

#form--root {
  @include flex(column, center, center, 0);
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px) brightness(60%);
  transition: 0.3s;

  #booking--form {
    @include grid(1fr 1fr, 2rem, 2rem, center);
    position: absolute;
    z-index: 2;
    background-color: #a3c2cc;
    border-radius: 1rem;
    padding: 3rem;
    position: relative;

    input {
      padding: 0.5rem;
      border: none;
    }

    .two--cols {
      grid-column: 1/-1;
    }

    #close--form--btn {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background-color: transparent;
    }
    button[type="submit"] {
      display: block;
      justify-self: stretch;
    }
  }
}
