@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
  color: #6b0f13;
}

h1 {
  font-size: 6rem;
  font-style: italic;
  color: #f7f7f7;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
  color: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-style: italic;
  color: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #6b0f13;
  border-bottom: solid 1px transparent;
  display: inline-block;
  padding-bottom: 0;
}

a:hover,
a:active {
  border-bottom: solid 1px #6b0f13;
}

.header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  width: 100%;
  text-align: center;
}

.button--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 100px;
  border: solid 1px #f7f7f7;
  overflow: hidden;
}

.btn, .button:link, .button:visited, .wrapper .calendar--btn {
  text-decoration: none;
  color: #f7f7f7;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.btn--hover, .button:hover, .button:active, .wrapper .calendar--btn:hover {
  background-color: #f7f7f7;
  color: #4f6eb0;
  border-radius: 100px;
  transition: 0.2s;
  padding: 1rem 3rem;
  margin: 0;
  cursor: pointer;
  border: none;
}

ul {
  line-height: 2rem;
  margin: 1rem 2rem;
  list-style: none;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  text-align: left;
}

ul li p {
  margin: 0;
}

svg {
  width: 24px;
  height: 24px;
}

.bg--svg {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ccf3ff;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form--root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px) brightness(60%);
  transition: 0.3s;
}

#form--root #booking--form {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  position: absolute;
  z-index: 2;
  background-color: #a3c2cc;
  border-radius: 1rem;
  padding: 3rem;
  position: relative;
}

#form--root #booking--form input {
  padding: 0.5rem;
  border: none;
}

#form--root #booking--form .two--cols {
  grid-column: 1/-1;
}

#form--root #booking--form #close--form--btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
}

#form--root #booking--form button[type="submit"] {
  display: block;
  justify-self: stretch;
}

.parallax {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: stretch;
  margin-bottom: 18rem;
  grid-template-rows: auto auto;
  width: 100%;
  height: 101vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.parallax--img {
  position: absolute;
  top: 0;
  right: 50%;
  min-width: 100vw;
  min-height: 101vh;
  transform: translateX(50%);
  z-index: -1;
  filter: brightness(0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
}

.background--img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: auto;
  z-index: -1;
  filter: brightness(0.5);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-top: 5rem;
  max-width: 96rem;
  font-size: 1.6rem;
}

.wrapper #calendar--root, .wrapper .calendar--root--wrapper #calendar--root1 {
  display: grid;
  row-gap: 0.4rem;
  column-gap: 0.4rem;
  grid-template-columns: repeat(7, 1fr);
  justify-items: stretch;
}

.wrapper .calendar--handler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  margin-bottom: 2rem;
}

.wrapper .calendar--handler #year--month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: block;
  font-size: 3rem;
  font-weight: 500;
  border-radius: 1rem;
  color: #f7f7f7;
}

.wrapper .calendar--buttons--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.wrapper .calendar--day, .wrapper .calendar--day--names .calendar--day--name {
  background-color: rgba(234, 234, 234, 0.65);
  font-size: 3rem;
  padding: 2.5rem;
  text-align: center;
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  font-weight: 300;
}

.wrapper .calendar--day--names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.wrapper .calendar--day--names .calendar--day--name {
  font-size: 2rem;
  height: 5rem;
  padding: 1.5rem;
  background-color: rgba(107, 15, 19, 0.6);
  color: #f7f7f7;
}

.wrapper .calendar--root--wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.wrapper .calendar--root--wrapper #calendar--root, .wrapper .calendar--root--wrapper #calendar--root1 {
  display: grid;
  row-gap: 0.4rem;
  column-gap: 0.4rem;
  grid-template-columns: repeat(7, 1fr);
  justify-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .calendar--free--term {
  position: relative;
  background-color: #ccf3ffd9;
  transition: all 0.2s;
  font-weight: 700;
  opacity: 0.95;
}

.wrapper .calendar--free--term:hover {
  background-color: rgba(247, 247, 247, 0.95);
}

.wrapper .calendar--reserved {
  background-color: #ffd3ca;
  border: none;
}

.wrapper .empty--field {
  background-color: rgba(234, 234, 234, 0.4);
  border-radius: 1rem;
}

.wrapper button {
  padding: 1rem;
  margin: 1rem;
}

.visible {
  display: flex !important;
}
